[submodule "kanbanClient"]
	path = kanbanClient
	url = https://github.com/191prajjwal/kanbanClient.git
[submodule "kanbanSever"]
	path = kanbanSever
	url = https://github.com/191prajjwal/kanbanSever.git
